*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;

}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 80, 174);
}


#videoPaiter{
  height:500px;
  border-radius: 25px;

}

.main{
  display: flex;
  flex-direction: column;
}
.container01{

}
.content{
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 25px;

 
}
.btnValues{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  
}

#btnStatus{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: transparent;
  color: black;
    height: 50px;
  width: 290px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px;
    transition: 0.3s;
}
#btnStyle{
  display: flex;
  justify-content: center;
  align-items: center;
border: 1px solid black;
  background: transparent;
  color: black;
  height: 50px;
  width: 290px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px;
    transition: 0.3s;
  
}

#btnCode{ display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: transparent;
  color: black;
  height: 50px;
  width: 290px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px;
    transition: 0.3s;
  
}

#btnVoltar{
  display: none;
 justify-content: center;
 align-items: center;
  border: 1px solid black;
  background: transparent;
  color: black;
  height: 50px;
  width: 290px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px;
    transition: 0.3s;
}

#btnStatus:hover,#btnStyle:hover ,#btnCode:hover , #btnVoltar:hover{
  scale:  1.1;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(149, 0, 255, 0.195);

}


.imagemLogo{
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-bottom: -50px;
  gap: 50px;

}

#logoGit{
  display: none;
}

#textH2{
  display: none;
  color: black;
 
}

.img{
  display: none;
  align-items: center;
  gap: 25px;
  justify-content: start;
  width: 300px;
  height: 500px;
 overflow-x: scroll;
  scroll-behavior:smooth;
  white-space: nowrap;
  object-fit: cover;
 
  transition: 0.7s;
}
#img01,#img02,#img03,#img04,#img05,#img06,#img07,#img08,#img09{
  height: 100%;

}

#logoGit{
  animation: escala 1000ms infinite linear;

 
}


@keyframes escala {
  0%{
    scale: 1.1;
   
  }
  10%{
    scale: 1.1;
   
  }
  20%{
    scale: 1.2;
   
  }
  100%{
   
    scale:1.1;
  }

  
}
.imagemLogo{
  margin-bottom: 25px;
}
.mainImg{
  display: flex;
  flex-direction: column;
}


#Arraste{
  display: none;
justify-content: center;
align-items: center;
animation: identifier 5000ms linear infinite;
  color: rgba(0, 0, 0, 0.576);
}


@keyframes identifier {
  0%{
    scale: 1.0;
  }
  10%{
    scale:1.2;
  }
  20%{
    scale: 1.0;
  }
  40%{
    scale:1.2;
  }
}