*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;

}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 80, 174);
}


#videoPaiter{
  height:500px;
  border-radius: 25px;

}

.content{
  display: flex;
  justify-content: center;
 
}